# ASSIGNMENT 4

## Question 1:
How to import pandas and check the version?

## Answer:

In [1]:
#to import pandas:
import pandas as pd

#to check the version
print(pd.__version__)

1.0.1

## Question 2:
How to create a series from a numpy array?

## Answer:

In [3]:
import pandas as pd 
import numpy as np 
  
# numpy array 
arr = np.array(['A','B','C','D','E','F', 
                'G','H','I','J','K']) 
  
# forming series 
s = pd.Series(arr) 
print(s)

0     A
1     B
2     C
3     D
4     E
5     F
6     G
7     H
8     I
9     J
10    K
dtype: object

## Question 3:
How to convert the index of a series into a column of a dataframe?

## Answer:

In [5]:
import pandas as pd 
  
# Creating Series 
s = pd.Series(['C', 'C++', 'Java',  
               'Python', 'Perl', 'Ruby'
               ]) 
df = s.to_frame().reset_index() 
# show the dataframe 
df.rename(columns = {'index':'new_index'}, 
          inplace = True) 
df

   new_index       0
0          0       C
1          1     C++
2          2    Java
3          3  Python
4          4    Perl
5          5    Ruby

## Question 4:
Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset

## Answer:

In [9]:
import seaborn as sns
# Displaying all available datasets in seaborn
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [11]:
dataset_mpg = sns.load_dataset('mpg')
dataset_mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

## Question 5:
Which country origin cars are a part of this dataset?

## Answer

In [14]:
print(dataset_mpg['origin'].unique())

['usa' 'japan' 'europe']

The cars are of origins USA, Japan, Europe

## Question 6:
Extract the part of the dataframe which contains cars belonging to 'usa'

## Answer:

In [35]:
df1=dataset_mpg[dataset_mpg['origin'].str.contains("usa")]
print(df1.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320
2          70    usa         plymouth satellite
3          70    usa              amc rebel sst
4          70    usa                ford torino